
NODE_ENV=development

PORT=8080


# FRONTEND_URL=http:https://frontend-w-ehk0.onrender.com

# CORS_ORIGINS=http:https://frontend-w-ehk0.onrender.com
FRONTEND_URL=http:https://frontend-w-ehk0.onrender.com,http://localhost:5173
CORS_ORIGINS=http:https://frontend-w-ehk0.onrender.com,http://localhost:5173


DB_HOST=tokaido.proxy.rlwy.net
DB_PORT=27021
DB_NAME=railway
DB_USERNAME=root
DB_PASSWORD=rHDQuYSwpOQzYLvBkiwbVsOGMFUGiBmN




JWT_SECRET=change-me-to-a-long-random-string-at-least-32-bytes
JWT_ACCESS_EXP_MS=900000
JWT_REFRESH_EXP_MS=604800000


FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=

FIREBASE_PRIVATE_KEY=

OTP_EXPIRY_MINUTES=5
OTP_MAX_ATTEMPTS=5
OTP_RESEND_COOLDOWN_SECONDS=6

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_NAME=Union Workspace



SEED_DEV_ADMIN=true
